@{
    ViewData["Title"] = "Produtos";
}
<h1 class="shadow-lg p-3 mb-5 bg-white rounded">@ViewData["Title"]</h1>

<link rel="stylesheet" type="text/css" href="css/site.css">

<H2>
    <div class="text-center">
        <p>O Espaço Musical tem uma infinidade de instrumentos e acessórios para você!</p>
</div>
</H2>
<H3 >
<p><img class="class" src="@Url.Content("~/images/violao_icon.png")" width="60" <li><a asp-action="Cordas">Cordas</a></li></p>
<p><img class="class" src="@Url.Content("~/images/flauta_icon.png")" width="60"<li><a asp-action="Sopro">Sopro</a></li>
<p><img class="class" src="@Url.Content("~/images/percussao_icon.png")" width="60"<li><a asp-action="Percussao">Percussão</a></li>
<p><img class="class" src="@Url.Content("~/images/teclas_icon.png")" width="60"<li><a asp-action="Teclas">Teclas</a></li>
<p><img class="class" src="@Url.Content("~/images/capas_icon.png")" width="60"<li><a asp-action="Capas">Capas</a></li>
<p><img class="class" src="@Url.Content("~/images/suportes_icon.png")" width="60"<li><a asp-action="Suportes">Suportes</a></li>
<p><img class="class" src="@Url.Content("~/images/outros_icon.png")" width="60"<li><a asp-action="Outros">Outros</a></li>
</H3>